@use "../abstracts/breakpoints" as media;

.input-container {
  display: flex;
  flex-direction: column;

  @include media.query(">=md") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
