@use "../abstracts/breakpoints" as media;

.tab-content {
  border-radius: 1rem;
  padding: 24px;
  background-color: $white;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.2),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.15);
  transition: visibility 1s ease-in-out;

  &__container {
    display: flex;
    flex-direction: column;

    @include media.query(">=sm") {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
  }

  &__photo {
    height: 35vh;
    width: auto;
    background-position: bottom;
    object-fit: cover;
    padding: 1rem;
    border-radius: 2rem;
    opacity: 0.9;

    @include media.query(">=sm") {
      width: 50vh;
    }

    &--hidden {
      display: none;

      @include media.query(">=lg") {
        display: initial;
      }
    }
  }

  &__list {
    font-size: 1.1rem;
    line-height: 1.75rem;

    @include media.query(">=sm") {
      width: 50vh;
    }
  }

  &__list--icon1 {
    list-style-type: "🏛️ ";
  }

  &__list--icon2 {
    list-style-type: "🏖️ ";
  }

  &__list--icon3 {
    list-style-type: "🌿 ";
  }

  &__list--icon4 {
    list-style-type: "🎉 ";
  }
}
